---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/Hero";
import Features from "@/components/features/Features.astro";
import Benefits from "@/components/benefits/Benefits.astro";
import Navbar from "@/components/navbar/Navbar";
import Pricing from "@/components/pricing/Pricing";
import Faq from "@/components/faq/Faq.astro";
---

<Layout>
	<Navbar client:idle />
	<main>
		<Hero client:idle />
		<Features />
		<Benefits />
		<Pricing />
		<Faq />
	</main>
</Layout>
